<div class="footer footer--dark modern-footer">
	<div class="container">
		<div class="footer__inner">
			<a href="{{ if eq .Lang "zh" }}/zh/{{ else }}/{{ end }}" class="footer__textLogo">{{ .Site.Title }}<span class="logo-dot">.</span></a>

			<div class="footer__data">
				<div class="footer__data__item">
					{{ range.Site.Params.footer.firstcolumn }}
					<div class="footer__row">{{.|markdownify}}</div>
					{{ end }}
				</div>
				<div class="footer__data__item">
					{{ range.Site.Params.footer.secondcolumn }}
					<div class="footer__row">{{.|markdownify}}</div>
					{{ end }}
				</div>
				<div class="footer__data__item">
					{{ range.Site.Params.footer.thirdcolumn }}
					<div class="footer__row">{{.|markdownify}}</div>
					{{ end }}
				</div>
			</div>
		</div>

		<div class="footer__inner footer__bottom">
			<p class="footer__copy">&copy; {{ now.Format "2006" }} {{ .Site.Title }}. All rights reserved.</p>
		</div>
		
	</div>
</div>
