<div class="steps landing__section">
	<div class="container">
		<h2>{{ .Params.triple.title | markdownify }}</h2>
		<p>{{ .Params.triple.text| markdownify }}</p>
	</div>
	<div class="container">
		<div class="steps__inner">
			{{ range $i, $box :=  .Params.triple.box }}

			{{if eq (mod $i 3) 0}}
		</div>
		<div class="steps__inner">
			{{ end }}
			<div class="step">
				<div class="steps__inner">
					<div class="step">
						<div class="step__media"><img src="{{$box.src}}" alt="{{$box.alt}}" class="step__image" /></div>
						<h4>{{ $box.title | markdownify }}</h4>
						<p class="step__text">{{ $box.text | markdownify }}</p>
					</div>
				</div>
			</div>
			{{ end }}
		</div>
	</div>
</div>
