<!-- navbar -->
<div class="navbar navbar--extended glass-navbar">
	<nav class="nav__mobile"></nav>
	<div class="container">
		<div class="navbar__inner">
			<a href="{{ if eq .Lang "zh" }}/zh/{{ else }}/{{ end }}" class="navbar__logo">{{ .Site.Title }}<span class="logo-dot">.</span></a>
			<nav class="navbar__menu">
				<!-- prettier-ignore -->
				<ul>
					{{ $currentPage := . }}
					{{ range .Site.Menus.main }}
					{{ if eq .Identifier "installation" }}
					<li><a href="{{ .URL | safeURL }}" class="button button__accent nav-button">{{ .Name }}</a></li>
					{{ else }}
					<li><a href="{{ .URL | safeURL }}">{{ .Name }}</a></li>
					{{ end }}
					{{ end }}
					{{ if eq $currentPage.Lang "zh" }}
					<li><a href="/" class="nav-lang-switch" onclick="sessionStorage.setItem('prevent_lang_redirect', 'true');"><i class="fas fa-globe"></i> EN</a></li>
					{{ else }}
					<li><a href="/zh/" class="nav-lang-switch" onclick="sessionStorage.removeItem('prevent_lang_redirect');"><i class="fas fa-globe"></i> 中文</a></li>
					{{ end }}
				</ul>
			</nav>
			<!-- prettier-ignore -->
			<div class="navbar__menu-mob"><a href="" id='toggle'><svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" class=""></path></svg></a></div>
		</div>
	</div>
</div>
<!-- end navbar -->
