/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.badge {
    display: inline-block;
    background: #000 url(/img/installation/apple-logo-white.svg) no-repeat 2rem center;
    background-size: 5rem 5rem;
    padding: 1.6rem 4rem 1.6rem 8rem;
    color: #fff;
    text-decoration: none;
    font-size: 3.6rem;
    margin: 0 0 0.5rem;
    border-radius: 0.8rem;
}

.badge.windows {
    background-color: #04aae8;
    background-image: url(/img/installation/windows-logo-white.svg);
}

.badge.raspberrypi {
    background-color: #cf302a;
    background-image: url(/img/installation/raspberry-pi.svg);
}

.badge.testflight {
    background-color: #39A3C0;
    background-image: url(/img/installation/ios-testflight.svg);
}

.screenshoot {
    background-color:#EAF0FB;
    padding: 25px;
    width: 90%;
    text-align: center;
}

.screenshoot img {
    margin-right:20px;
    margin-bottom:20px;
}

